doctype html
html(lang='en')
head 
title PUG Waah 
body 

h1 
    i Wooooow... 

table(border=2)
    tr 
        td 243
        td 3423
    tr 
        td 237
        td 287
    tr 
        td le
        td le  

h2(style='color:red') 123

a(
    href='/about'
    target='_blank'
    ) Click here..

ul 
    li 123
    li xyz
    li waah 
    li asd
    li from

-var list=['123','456','789'] 
h2=list[2]

form(action='/about' method='get')
    label Username: 
    input(type='text')
    br
    label Password: 
    input(type='password')
    br
    input(type='submit')